﻿@model OnlineStore.Models.ItemType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>ItemType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ItemTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemTypeName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemTypeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
