﻿@model IEnumerable<OnlineStore.Models.ItemType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemTypeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemTypeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ItemTypeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemTypeID })
                </td>
            </tr>
        }

    </table>
</div>