﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAM-Tag</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style type="text/css">
        .rating-star-block .star.outline {
            background: url("../../Images/star-empty-lg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        .rating-star-block .star.filled {
            background: url("../../Images/star-fill-lg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        .rating-star-block .star {
            color: rgba(0,0,0,0);
            display: inline-block;
            height: 24px;
            overflow: hidden;
            text-indent: -999em;
            width: 24px;
        }

        a {
            color: #005782;
            text-decoration: none;
        }
    </style>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77840466-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>
<body>
    <div id="" style="position:fixed; bottom:0; right:5px; background-color:green; padding: 5px; color:white; z-index:999; border-radius:2px;"><i class="glyphicon glyphicon-eye-open"></i> : <span id="counter"></span></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JAM-Tag", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()

    <div id="termsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">JAM-TAG Terms and Condition</h4>
                </div>
                <div class="modal-body">
                    <p>Welcome to JAM-Tag, these terms and conditions are intended to help keep JAM-Tag a safe place to trade. </p>

                    <p>
                        <strong> Acceptance of terms and conditions: </strong> The terms and conditions are the terms on which JAM-Tag offers you access to the Services and the Website. By registering as a member of JAM-Tag you accept these terms and conditions. If you do not accept these terms and conditions, you must refrain from using the Services.
                    </p>
                    <p>
                        Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
                    </p>
                    <p><strong> Paid Postings </strong>     </p>

                    <p>
                        <strong>
                            When the seller increases the price of their product, the certain 5% of the amount of the increased item will requirepaying. But there is no refund if the seller decreases the price of their item.

                            <br /><br />
                            The 5% certain percentage is good for 1 year advertising only. If the product has not been sold before 1month of expiration date JAM-Tag will send a notice through e-mail account of the seller.
                        </strong>
                    </p>

                    <p>
                        Before JAM-Tag approves the item, the seller required to pay a 5% of item price that she/he wants to sell on the website. The seller can deposit or send the payment slip of 5% price of the item in the JAM-Tag email account “JamTag0nline@gmail.com” to approve your item. The seller can use the following payment methods:
                    </p>

                    <ul>
                        <li>CebuanaPeraPadala</li>
                        <li>Western Union</li>
                        <li> M LhuillierKwarataPadala</li>
                        <li>
                            LBC Express Money Remittance<br />Fill up the following information:
                            <ul>
                                <li>Sender: (your full name)</li>
                                <li>Sender's Address: (optional, if required by teller)</li>
                                <li>Receiver: Aki S. Watanabe</li>
                                <li>
                                    Receiver's Address: (optional, if required by teller; Brgy. Patimbao Sta.Cruz, Laguna)
                                    CP number: (optional, 09357095220)
                                </li>
                            </ul>
                        </li>
                        <li>
                            Smart PeraPadala
                            <ul><li>52996-75831-805-104</li></ul>
                        </li>
                        <li>
                            BPI Bank Deposit
                            <ul>
                                <li>go to any nearest BPI branch in your area and ask for deposit slip.</li>
                                <li>fill up the following information:</li>
                                <li>Account Name: Mark B. Sancon</li>
                                <li>Account Number: 1739-3365-77</li>


                            </ul>
                        </li>

                    </ul>
                    <strong>After depositing, kindly send a scanned copy of your deposit slip or inform us the amount you've deposited.</strong>
                    <br /><br />
                    <strong>Please take note that all payments will subject for verification and may take 1-2 days to confirm.</strong>

                    <hr />

                    <p><strong> PRIVACY POLICY</strong> </p>
                    <br />
                    <p>
                        <strong>Third-Party Links</strong>.Certain content, products and services available via our Service may include materials from third-parties.

                    </p>

                    <p>
                        Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.

                    </p><br />
                    <p>We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.</p>
                    <br />
                    <p>We act as a venue to allow our users who comply with these Terms to offer, sell, and buy products and services listed on the Website. Although you may be able to conduct payment and other transactions through the Website, using third-party vendors such as PayPal, JAM-Tag is not in any way in involved in such transactions. As a result, and as discussed in more detail in these Terms, you hereby acknowledge and agree that JAM-Tag is not a party to such transactions, has no control over any element of such transactions, and shall have no liability to any party in connection with such transactions. The users use the Service and the Website at your own risk. </p>
                    <br />
                    <p>You are a valued customer, and we recognize that protecting your privacy is important to you. For this reason, we are committed to protecting the personal information you provide in a variety of ways. We do not directly process any payments and do not store your credit card information. Secured socket layer ("SSL") technology is used for processing payment transactions with third- party service provider partners such PayPal. Your Registration Information may be protected by a unique customer password and user ID. You should not disclose your password information to anyone and you should always remember to log off if using a shared computer. Lastly, you may utilize the Website as an anonymous user by not registering. We have taken certain security protections in safeguarding your personal information. However, as with most electronic transactions, no method is 100% safe. While we strive to use a commercially acceptable means to protect the personal information you provide, we cannot guarantee its security. Therefore, you acknowledge and agree that we assume no liability regarding the theft, loss, alteration or misuse of personal or other information or Content, including, without limitation, such information that has been provided to third parties or other users, or with regards to the failure of a third party to abide by the agreement between us and such third party. You may participate in our Forum or utilize our Comments feature. For postings to the Feedback, your username will be posted. For postings using the Comments feature, your name and email will only be posted if you provide it in the comment. We strongly discourage posting any information on these features or in any Content posted by you that you do not want others to see. You agree that you are responsible for maintaining the confidentiality of your username and password, and all uses of your account, whether or not you have authorized such use.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $.ajax({
            url: '/AdminReport/getView/',
            method: 'GET',
            success: function (data) {
                $('#counter').html(data);
            }
        });
    </script>

</body>
</html>
