﻿@model OnlineStore.Models.ItemsViewModel
@{
    ViewBag.Title = "Add Items";
}

@using (Html.BeginForm("AddItems", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add Items for Sale</h1>
        </div>
       
        <div class="row">
            <div class="col-md-3 col-sm-3">
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Item Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Item Name:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.ItemName, new { @placeholder = "Item Name for Sale", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            @Html.DropDownListFor(m => m.ItemDetails.ItemCategory, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Item Description:</label>
                            @Html.TextAreaFor(m => m.ItemDetails.ItemDescription, new { @placeholder = "Item Description", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Item Amount:</label>
                            @Html.TextBoxFor(m => m.ItemDetails.ItemAmount, new { @placeholder = "Amount", @class = "form-control", @required = "required", @type = "number" })
                        </div>
                        <div class="form-group">
                            <label>Condition:</label>
                            @Html.DropDownListFor(m => m.ItemDetails.ItemCondition, new SelectList(ViewBag.ConditionList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Upload Images:</label>
                            <input type="file" class="form-control" name="itemimages" value="" multiple="multiple" required="required" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Contact Number:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.ContactNumber, new { @placeholder = "Contact Number", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Email Address:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.EmailAddress, new { @placeholder = "Email Address", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.Location, new { @placeholder = "Location", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
                            <input type="button" value="Cancel" class="btn btn-default" onclick="javascript:document.location.href='@Url.Action("Index", "Home")'" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Attention !</h4>
                </div>
                <div class="modal-body">
                    <p>To approve items, 5% of the prices is needed. Approval takes within 24-48 hours</p>
                    <br />
                    <p>Send the proof of payment to JamTagShop@gmail.com</p><!-- Password for  JamTagShop@gmail.com is jamtagshop421-->
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Add Item" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>

}

