﻿@model List<OnlineStore.Models.MyItemsViewModel>
@{
    ViewBag.Title = "View Items";
    Layout = null;

}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">My Items For Sale</h3>
                </div>
                <div class="panel-body">
                    @foreach (var items in Model)
                    {
                        <a href="@Url.Action("EditItemForSale", "Item", new {id = items.ItemMasterId})">
                            <div class="grid-item grid-item--width2 grid-item--height3" style="background: url('@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(items.defaultImage))') no-repeat center; -ms-background-size: contain; background-size: contain;display: table">
                                <div style="display:table-cell; vertical-align: bottom; width: 100%;">
                                    <label class="label label-default" style="display: block;font-size: 20px;margin-bottom: 0">@items.ItemName @@ @items.ItemPrice.ToString("#,##0.00")</label>
                                </div>
                            </div>
                        </a>
                    }
                   

                    @*<div class="grid">
                     
                        
                            if (ctr % 2 == 0)
                            {
                                <a href="@Url.Action("EditItemForSale", "Item", new {id = items.ItemMaster.ItemId})">
                                    <div class="grid-item grid-item--width2 grid-item--height3" style="background: url('@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(items.ItemImages[0].ItemPictures))') no-repeat center; -ms-background-size: contain; background-size: contain;display: table">
                                        <div style="display:table-cell; vertical-align: bottom; width: 100%;">
                                            <label class="label label-default" style="display: block;font-size: 20px;margin-bottom: 0">@items.ItemMaster.ItemName @@ @items.ItemDetails.ItemAmount.ToString("#,##0.00")</label>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("EditItemForSale", "Item", new { id = items.ItemMaster.ItemId })">
                                    <div class="grid-item grid-item--width2 grid-item--height2" style="background: url('@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(items.ItemImages[0].ItemPictures))') no-repeat center; -ms-background-size: contain; background-size: contain;display: table">
                                        <div style="display:table-cell; vertical-align: bottom; width: 100%;">
                                            <label class="label label-default" style="display: block;font-size: 20px;margin-bottom: 0">@items.ItemMaster.ItemName @@ @items.ItemDetails.ItemAmount.ToString("#,##0.00")</label>
                                        </div>
                                    </div>
                                </a>
                            }
                            ctr++;
                        }
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: 160,
                isFitWidth: true
            });

        });
    </script>
}
