﻿@model OnlineStore.Models.ItemsViewModel
@{
    ViewBag.Title = "Edit " + Model.ItemMaster.ItemName;
}

@using (Html.BeginForm("EditItemForSale", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit @Model.ItemMaster.ItemName</h1>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">

                @Html.HiddenFor(m => m.ItemMaster.ItemId)
                @Html.HiddenFor(m => m.ItemDetails.ItemDetailId)
                @Html.HiddenFor(m => m.ItemMaster.DatePosted)
                @Html.HiddenFor(m => m.ItemMaster.UserId)

                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Item Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Item Name:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.ItemName, new { @placeholder = "Item Name for Sale", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            @Html.DropDownListFor(m => m.ItemDetails.ItemCategory, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Item Description:</label>
                            @Html.TextAreaFor(m => m.ItemDetails.ItemDescription, new { @placeholder = "Item Description", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Item Amount:</label>
                            @Html.TextBoxFor(m => m.ItemDetails.ItemAmount, new { @placeholder = "Amount", @class = "form-control", @required = "required", @type = "number" })
                        </div>
                        <div class="form-group">
                            <label>Condition:</label>
                            @Html.DropDownListFor(m => m.ItemDetails.ItemCondition, new SelectList(ViewBag.ConditionList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Availability:</label>
                            @Html.DropDownListFor(m => m.ItemMaster.Availability, new SelectList(ViewBag.AvailabilityList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Upload Images:</label>
                            <input type="file" class="form-control" name="itemimages" value="" multiple="multiple" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Contact Number:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.ContactNumber, new { @placeholder = "Contact Number", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Email Address:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.EmailAddress, new { @placeholder = "Email Address", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            @Html.TextBoxFor(m => m.ItemMaster.Location, new { @placeholder = "Location", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button onclick="DeleteItem(@Model.ItemMaster.ItemId)" class="btn btn-danger">Delete</button>
                            <a href="@Url.Action("Index","Manage")" class="btn btn-default">Cancel</a>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Reservation Info</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Reserved By:</label>
                            @ViewBag.email
                        </div>
                        <div class="form-group">
                            <label>Reserved Date:</label>
                            @Html.DisplayFor(m => m.ItemMaster.ReservedWhen)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Images for @Model.ItemMaster.ItemName</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="width:100%; text-align: center">
                            @foreach (var items in Model.ItemImages)
                            {
                                <div id="@items.Id" class="col-md-4 col-sm-4" style="background: url('@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(items.ItemPictures))') no-repeat center; -ms-background-size: contain; background-size: contain; height:200px; width: 200px; margin-left:50px">
                                    <a onclick="deleteImage(@items.Id)"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="float: right"></span></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">

        function deleteImage(_id) {
            var result = confirm("Are you sure you want to delete this image?");
            if (result) {

                $.ajax({
                    url: '/Item/DeleteImage/',
                    data: { id: _id },
                    success: function() {
                        $('#' + _id).remove();
                    },
                    error: function() {
                        alert('Something went wrong. Please try again later.');
                    }
                });
            }
        }

        function DeleteItem(_id)
        {
            var result = confirm("Are you sure you want to delete this Item?");
            if (result){
                $.ajax({
                    url: '/Item/DeleteItem',
                    data: {id:_id},
                    success: function(){
                        window.location = '/Manage'
                    },
                    error: function () {
                        alert('Something went wrong. Please try again later.');
                    }
                })
            }
        }

    </script>
}

