﻿@model OnlineStore.Models.ItemsViewModel
@{
    ViewBag.Title = "ItemForSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1 style="display:inline"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> @Model.ItemMaster.ItemName for Php @Model.ItemDetails.ItemAmount.ToString("#,##0.00")</h1>

        <div class="pull-right" style="display:inline">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="9PAH9HLB5ZAPG">
                <input type="hidden" name="lc" value="PH">
                <input type="hidden" name="item_name" value="@Model.ItemMaster.ItemName">
                <input type="hidden" name="amount" value="@Model.ItemDetails.ItemAmount">
                <input type="hidden" name="currency_code" value="PHP">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="tax_rate" value="12.000">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="row">
   
        <br />
        <div class="col-md-4 col-sm-4">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="rating-star-block" id='rating-block'>
                                <input type="hidden" class="articleID" value='@Model.ItemMaster.ItemId' />
                                <label>Current Seller Rating: </label><span id="CurrentScore" style="color: green">@ViewBag.AverageRating</span><br />
                                <label>Rate the seller</label><br />
                                <a class="star outline" href="#" rating="1" title="vote 1"> vote 1</a>
                                <a class="star outline" href="#" rating="2" title="vote 2"> vote 2</a>
                                <a class="star outline" href="#" rating="3" title="vote 3"> vote 3</a>
                                <a class="star outline" href="#" rating="4" title="vote 4"> vote 4</a>
                                <a class="star outline" href="#" rating="5" title="vote 5"> vote 5</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><small>Item Name:</small> @Model.ItemMaster.ItemName</label>
                        </div>
                        <div class="form-group">
                            <label><small>Item Desc:</small> @Model.ItemDetails.ItemDescription</label>
                        </div>
                        <div class="form-group">
                            <label><small>Item Code:</small>ITM-@Model.ItemDetails.ItemMaster.ItemId</label>
                        </div>
                        <div class="form-group">
                            <label><small>Condition:</small> @Model.ItemDetails.ItemCondition</label>
                        </div>
                        <div class="form-group">
                            <label><small>Category:</small> @Model.ItemDetails.ItemCategory</label>
                        </div>
                        <div class="form-group">
                            <label><small>Date Posted:</small> @Model.ItemMaster.DatePosted</label>
                        </div>
                        <div class="form-group">
                            <label><small>Contact #:</small> @Model.ItemMaster.ContactNumber</label>
                        </div>
                        <div class="form-group">
                            <label><small>Email Address:</small> <a href="mailto:@Model.ItemMaster.EmailAddress">@Model.ItemMaster.EmailAddress</a></label>
                        </div>
                        <div class="form-group">
                            <label><small>Location:</small> @Model.ItemMaster.Location</label>
                        </div>
                        <div class="form-group">
                            <label><small>Views:</small> @Model.ItemMaster.ViewCount</label>
                        </div>
                        <div class="form-group">
                            <label>
                                <small>Feedback:</small>
                                <br /><br />
                                <textarea class="form-control" cols="50" rows="5" style="width:100%;" id="txtFeedback"> </textarea><br />
                                <button class="btn btn-primary form-control" onclick="SendFeedback()">Send Feedback</button>
                                <br />
                                <br />
                                <a href="@Url.Action("ViewItems","item")" class="btn btn-default">Back to list</a>

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Reserve</button>
                                }
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Attention !</h4>
                    </div>
                    <div class="modal-body">
                        <p>To reserve, pay 20% of the price. Contact the seller using their contact details.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="Reserve(@Model.ItemMaster.ItemId)">Reserve</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-8 col-sm-8">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Images for @Model.ItemMaster.ItemName</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="width:100%; text-align: center">
                            @foreach (var items in Model.ItemImages)
                            {
                                <div class="col-md-4 col-sm-4">
                                    <div class="thumbnailcustom" style="background: url('@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(items.ItemPictures))') no-repeat center; -ms-background-size: contain; background-size: contain; height:200px; width: 200px; margin-left:50px"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Feedbacks</div>
                    <div class="panel-body">
                        @foreach (var items in Model.FeedbackList)
                        {
                            <p>@items.FeedbackText</p>
                            <small>@items.DateTimeCreated</small>    <a onclick="deleteComment(@items.FeedbackID)" style="cursor:pointer;">Remove Comment</a>
                            <hr />
                    
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".rating-star-block .star").mouseleave(function () {
                $("#" + $(this).parent().attr('id') + " .star").each(function () {
                    $(this).addClass("outline");
                    $(this).removeClass("filled");
                });
            });
            $(".rating-star-block .star").mouseenter(function () {
                var hoverVal = $(this).attr('rating');
                $(this).prevUntil().addClass("filled");
                $(this).addClass("filled");
                $("#RAT").html(hoverVal);
            });
            $(".rating-star-block .star").click(function () {
                var v = $(this).attr('rating');

                $.ajax({
                    url: '/Item/RateUser/',
                    data: {
                        score: v,
                        userId: '@Model.ItemMaster.UserId'
                    },
                    success: function (result) {
                        alert('Thank you for rating ' + v + ' for this seller!');
                        $("#CurrentScore").html(result);
                    }
                });

            });
        });
        function setNewScore(container, data) {
            $(container).html(data);
            $("#myElem").show('1000').delay(2000).queue(function (n) {
                $(this).hide(); n();
            });
        }

        function SendFeedback() {
            $.ajax({
                url: '/Item/AddFeedback',
                data: {
                    feedback: $('#txtFeedback').val(),
                    userid: '@Model.ItemMaster.UserId'
                },
                success: function (data) {
                    window.location.href = '/Item/ItemForSale/@Model.ItemDetails.ItemDetailId';
                }


            });
        }

        function deleteComment(id){
            $.ajax({
                url: '/Item/DeleteComment',
                data: {feedbackId : id},
                success: function (data){
                    window.location.href ='/Item/ItemForSale/@Model.ItemDetails.ItemDetailId'
                }
            });
        }

        function Reserve(id){
            $.ajax({
                url: '/Item/ReserveItem',
                data: {id : id},
                success: function (data){
                    window.location.href ='/Item/ViewItems'
                }
            });
        }
    </script>
}