﻿@model List<OnlineStore.Models.ItemForSaleViewModel>
@{
    ViewBag.Title = "ItemsToApprove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Item Approval</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Items To Approve
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item Name</th>
                                <th>Image</th>
                                <th>Owner</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Model)
                            {
                                <tr>
                                    <td><a onclick="approveItem('@items.ItemMasterId')" style="cursor:pointer;">Approve</a> <a onclick="disapproveItem('@items.ItemMasterId')" style="cursor:pointer;">Disapprove</a></td>
                                    <td>
                                        @items.ItemName
                                    </td>
                                    <td><img style="width:150px; height:150px; background: url('@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(items.defaultImage))') no-repeat center; background-size:cover;" /></td>
                                    <td>
                                        @items.UserId
                                    </td>
                                    <td>@items.ItemPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function approveItem(id) {
            $.ajax({
                url: '/Item/ApproveItem',
                data: { itemNumber: id },
                success: function (data) {
                    window.location.href = '/Item/ItemsToApprove'
                }
            });
        }

        function disapproveItem(id){
            $.ajax({
                url: '/Item/DisapproveItem',
                data: { itemNumber: id },
                success: function (data) {
                    window.location.href = '/Item/ItemsToApprove'
                }
            });
        }
    </script>
}