﻿@model List<OnlineStore.Models.ItemForSaleViewModel>
@{
    ViewBag.Title = "View Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ctr = 0;
}

<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> View Items for Sale</h1>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter by</h3>
                </div>
                @using (Html.BeginForm())
                {

                    <div class="panel-body">
                        <div class="form-group">
                            <label for="itemName">Search :</label>
                            @Html.TextBox("itemName", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            @Html.DropDownList("category", new SelectList(ViewBag.CategoryList, "Text", "Text"), "Please select one", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Condition:</label>
                            @Html.DropDownList("condition", new SelectList(ViewBag.ConditionList, "Text", "Text"), "Please select one", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Search" />
                        </div>
                        <div class="form-group">
                            <button id="refresh-filter" type="button" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Items @Html.DropDownList("page", new SelectList(ViewBag.PageCount, "Text", "Text"), new{@class="form-controll pull-right"})</h3>
                    
                    

                </div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var items in Model)
                        {

                            string prem = "";
                            if (items.isPremium == true)
                            {
                                prem = "*P*";
                            }

                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <div class="Item-for-sale" style="text-align:center">
                                    <a href="@Url.Action("ItemForSale", "Item", new {id = items.ItemMasterId})" style="text-decoration: none;">
                                        <div style="padding:10px;">
                                            <img style="width:150px; height:150px; background: url('@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(items.defaultImage))') no-repeat center; background-size:cover;" />
                                            <p style="color:black;">@prem @items.ItemName  @@  @items.ItemPrice.ToString("#,##0.00")</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        }
                    </div>
                  



                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: 160,
                isFitWidth: true
            });

        });

        function changePage(pagenum)
        {
            console.log(window.location.href);
        }

        //$('#category-filter').data('pre', $(this).val());

        $('#category').change(function () {
            //window.location.href = '/Item/FilterItemsByCategory' + '?category=' + $('#category-filter').val();
            window.location.href = '/Item/ViewItems?category=' + $('#category').val() + '&condition=' + $('#condition').val() + '&itemName=' + $('#itemName').val();
        });

        $('#condition').change(function () {
            //window.location.href = '/Item/FilterItemsByCondition' + '?condition=' + $('#condition-filter').val();
            window.location.href = '/Item/ViewItems?category=' + $('#category').val() + '&condition=' + $('#condition').val() + '&itemName=' + $('#itemName').val();
        });

        $('#page').change(function () {
            window.location.href = '/Item/ViewItems?category=' + $('#category').val() + '&condition=' + $('#condition').val() + '&itemName=' + $('#itemName').val() + '&page=' + $('#page').val();
        });

        $('#refresh-filter').on('click', function () {
            window.location.href = "/Item/FilterItemsByCondition";
        });

        //Justin Code

        var items = new Array();
        var products = document.getElementsByClassName('Item-for-sale')
        var i;
        for (i = 0; i < products.length; i++) {
            items.push(products[i].offsetHeight)
        }
        var highestVal = Math.max.apply(null, items);
        $('.Item-for-sale').css("height", highestVal);

    </script>
}
