﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*MASONRY*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
    max-width: 1200px;
    margin: 0 auto;
}

    /* clearfix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

/* ---- grid-item ---- */

.grid-item {
    width: 160px;
    height: 120px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--width3 {
    width: 200px;
}

.grid-item--width4 {
    width: 720px;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item--height3 {
    height: 200px;
}

.grid-item--height4 {
    height: 360px;
}

.home-wallpaper {
    background: url('../Images/store-984393_1920.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    text-align: center;
}

.coming-soon-placeholder {
    background: url('../Images/Coming-Soon-placeholder.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.home-filter {
    background: rgba(0,0,0,.4);
    height: 100%;
}

.hero-banner {
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: -50px;
    top: 25%;
}



.box {
    border: 2px solid #808080;
    padding: 20px;
}

.ghostbuttoncontainer {
    width: 100%;
    display: block;
    position: absolute;
    margin-top: -50px;
    text-align: center;
}

a.ghostbutton {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
}

.ghostbutton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color .5s ease-in-out,color .7s ease-in-out;
    text-decoration: none;
}

a.ghostbuttonblack {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.ghostbuttonblack:hover {
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease-in-out,color .3s ease-in-out;
    text-decoration: none;
}

.thumbnail {
    border-color: black;
}

.thumbnailcustom {
    margin-bottom: 10px;
}

.Item-for-sale:hover {
    border: 1px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.programmersection {
    background: url('../Images/ProgrammerBg.jpg') no-repeat center center fixed;
 
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    text-align: center;
}

.row {
    margin-bottom: 50px;
}

.progimage
{
   border-radius:100%;
   height:150px;
   width:150px;
}

.filtergray {
    color:#ffffff;
}
.filtergray h2{
    font-weight:200;
}

.locateus{
    padding-top:50px;
    padding-bottom:50px;
    color:black;
}

#discussion li{
    list-style:none;
}

.categories-banner{
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5%;
}

.icons{
    font-size: 220%;
    margin:0px 5px;
    text-align: center;
    color:white;
}

/*.icons:hover{
   transform: rotate(360deg);
   color:#4099ff;
 transition: transform .5s ease-in-out, color .5s ease-in-out;
}*/

#category-list {
    list-style: none;
}
#category-list li{
 display:inline-block;

}

@media only screen and (max-device-width : 667px) { 
    .icons{
        font-size:70%;
    }

    .hero-banner p
    {
        font-size:80%;
    }
}