﻿@model IEnumerable<OnlineStore.Models.AdminReport>

@{
    Layout = null;
}

<div class="container">
    <h2>Sales Profit</h2>

    <div class="col-md-12" id="adminChart">
        <h1>Total Sales Profit Report (Admin)</h1>
        <canvas id="canvas3" height="100" width="600"></canvas>
    </div>

    <table class="table">
        <tr>
            <th>
                Item Name
            </th>
            <th>
               Owner
            </th>
            <th>
                Date Approved
            </th>
            <th>
              Profit
            </th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profit)
                </td>
                
            </tr>
        }
        <tr>
            <td><strong>Total Profit</strong></td>
            <td></td>
            <td></td>
            <td><strong>@Model.Sum(m => m.Profit)</strong></td>
        </tr>

    </table>
</div>