﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Frontpage.cshtml";
}
@using Microsoft.AspNet.Identity

<div style="margin-bottom:50px;">
    <div class="home-wallpaper" style="display:table">
        <div class="home-filter">
            <div class="jumbotron" style="background:none;">
                <div class="container">
                    <div class="hero-banner">
                        <h1>JAM-Tag</h1>
                        <p style="padding:20px;">JAM-Tag is an online store that lets you post your items for sale and make it available for public to view.</p>
                        <br />
                        @if (ViewBag.IsLoggedIn == false)
                        {
                            <a class="ghostbutton" href="@Url.Action("Login","Account")">Log In</a>
                            <a class="ghostbutton" href="@Url.Action("Register","Account")">Sign Up</a>
                        }
                        else
                        {
                            <a class="ghostbutton" href="@Url.Action("Chat")">Live Chat</a>
                            if (ViewBag.IsAdmin == true)
                            {
                                <a class="ghostbutton" href="@Url.Action("ItemsToApprove","Item")">Approve Items</a>
                                <a class="ghostbutton" href="@Url.Action("Index","ItemTypes")">Add Item Type</a>

                            }
                            <a class="ghostbutton" href="@Url.Action("LogOff", "Account")">Log Out</a>
                        }




                        <a class="ghostbutton" href="#helpsection">Help</a>
                        <a class="ghostbutton" data-toggle="modal" data-target="#termsModal">Terms &amp; Agreement</a>

                    </div>
                    <div class="categories-banner visible-lg visible-md">
                        Search By:
                        <ul id="category-list">
                            <li data-toggle="tooltip" data-placement="top" title="Mobile"><a href="@Url.Action("ViewItems", "Item", new { @category="Mobile" })"><i class="ion-iphone icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Computers"><a href="@Url.Action("ViewItems", "Item", new { @category="Computers" })"><i class="ion-monitor icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Pets"><a href="@Url.Action("ViewItems", "Item", new { @category="Pets" })"><i class="ion-ios-paw icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Hobbies"><a href="@Url.Action("ViewItems", "Item", new { @category="Hobbies" })"><i class="ion-ios-basketball-outline icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Motorcycles"><a href="@Url.Action("ViewItems", "Item", new { @category="Motorcycles" })"><i class="ion-android-bicycle icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Home Appliances"><a href="@Url.Action("ViewItems", "Item", new { @category = "Home Appliances" })"><i class="ion-home icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Furniture"><a href="@Url.Action("ViewItems", "Item", new { @category="Furniture" })"><i class="ion-trophy icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Cars"><a href="@Url.Action("ViewItems", "Item", new { @category="Cars" })"><i class="ion-model-s icons"></i></a></li>
                            <li data-toggle="tooltip" data-placement="top" title="Fashion"><a href="@Url.Action("ViewItems", "Item", new { @category = "Fashion" })"><i class="ion-tshirt icons"></i></a></li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <center>
                    <img src="~/Images/earth1.png" alt="..." style="width:auto; height:120px;">

                    <div class="caption">

                        <h1>Post your Item</h1>
                        <p>
                            Jam Tag is an online store that lets you post your items  and make it available for public to view.
                        </p>
                        <br />
                        <p><a class="ghostbuttonblack" href="/Item/AddItems">Add your items!</a></p>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <center>
                    <img src="~/Images/shoppingcart36.png" alt="..." style="width:auto; height:120px;">

                    <div class="caption">
                        <h1>View Items for Sale</h1>
                        <p>By just visiting Jam Tag, you can access a wide variety of items that is available posted by users</p>
                        <br />
                        <p><a class="ghostbuttonblack" href="/Item/ViewItems">See items for sale!</a></p>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <center>
                    <img src="~/Images/checked33.png" alt="..." style="width:auto; height:120px;">
                    <div class="caption">
                        <h1>Manage your items</h1>
                        <p>You can also manage your items easily in a single page. How cool is that?!</p>
                        <br />
                        <p><a class="ghostbuttonblack" href="/Manage">Manage your items!</a></p>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
<br />
<div class="programmersection">
    <div class="home-filter">
        <div class="container">
            <div class="row">
                <h1 style="color:white; font-weight:100; text-align:center">The Programmers</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="filtergray">
                        <div class="thumbnail" style="background:none; border:none ">
                            <img src="~/Images/ipsum.jpg" style="width: 150px; height: 150px; border-radius: 50%;" />
                            <h2>Mark B. Sancon</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filtergray">
                        <div class="thumbnail" style="background:none; border:none ">
                            <img src="~/Images/lorem.jpg" style="width: 150px; height: 150px; border-radius: 50%;" />
                            <h2>Aki S. Watanabe</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filtergray">
                        <div class="thumbnail" style="background:none; border:none ">
                            <img src="~/Images/dolor.jpg" style="width: 150px; height: 150px; border-radius: 50%;" />
                            <h2>Jesman A. Lantican</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="locateus">
    <div class="container">
        <div class="col-md-offset-1 col-md-3">
            <center> <h1>Our Location</h1></center>
            <p>
                Lynville Homes Subd Phase IV, Bagumbayan,
                Santa Cruz, Laguna
            </p>
            <p><span class="glyphicon glyphicon-phone-alt"></span> : 879-8777 </p>
            <p><span class="glyphicon glyphicon-phone"></span> : 0987-856-8975 </p>
            <p><span class="glyphicon glyphicon-envelope"></span> : JamTag@JamTag.com</p>
        </div>
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7733.317135165495!2d121.39365289109946!3d14.273123371402427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397e3099d0d0c33%3A0xc696a86d71553654!2sLynville+Homes+Subd+Phase+IV!5e0!3m2!1sen!2sph!4v1449205375994" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>

<div class="quickhelp" id="helpsection" style="background:#e3e3e3;">
    <div class="container">
        <center>
            <h1>Quick Guide</h1>
        </center>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    How to add an item
                </div>
                <div class="panel-body">
                    <ol>
                        <li>The user should be logged in</li>
                        <li>Click the "Add your items!" button located at the View Items for Sale block</li>
                        <li>Fill up the details and click save</li>
                        <li>Wait for you item to be approved by our administrator</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Buying Item
                </div>
                <div class="panel-body">

                    <ol>
                        <li>The user should be logged in</li>
                        <li>Click the "Manage your item!" button located at the post your item block</li>
                        <li>Use the "Filter by"" panel to search and filter the items</li>
                        <li>Click the item that you are interested with</li>
                        <li>Click the Paypal Buy Now button that is located in the right side of the item name</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Managing your item
                </div>
                <div class="panel-body">

                    <ol>
                        <li>The user should be logged in</li>
                        <li>Click the "See items for sale!" button located at the Manage your items block</li>
                        <li>the the "My Items For Sale" Panel Choose the item you want to manage</li>
                        <li>Update the selected item and click Save</li>
                        <li>Wait for our adminstrator to approve your updated item</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script>
    
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $.ajax({
                url: '/AdminReport/WebViewCount/',
                method: 'GET',
                success: function (data) {

                }
            });
        })
    </script>
}